<div *ngIf="mostCommits" class="first-container">
    <div class="title-container">
        <h1 class="main-title">Usuarios</h1>
    </div>
    <div class="data-container">
        <div class="text">
            <div class="data-titles">
                <h2>Usuarios que han realizado más commits</h2>
                <h3>(teniendo en cuenta los últimos 10 proyectos modificados)</h3>
            </div>
            <div class="data">
                <h2 *ngFor="let values of mostCommits, index as i">{{values.user}}: <span
                        class="data{{i}}">{{values.commits}} (en
                        {{values.projects}}
                        proyectos diferentes)</span></h2>
            </div>
        </div>
        <div class="chart-container">
            <chart [type]="chart.type" [data]="chart.data" [options]="chart.options" class="chart"></chart>
        </div>
    </div>
</div>