.title-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.main-title {
    background-color: firebrick;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 50px;
    width: fit-content   
}

.data-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.text {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px, 10px;
}

.data-titles {
    text-align: center;
    /*margin-left: 10%; */
}

.data {
    text-align: start;
    /*margin-left: 10%;*/
}

.chart {
    width: 50vw;
}

.data0{
    background-color: rgb(254,110,112);
    border-radius: 3px;
    padding: 2px 5px;
    color: black;
}

.data1{
    background-color: rgb(185,234,62);
    border-radius: 3px;
    padding: 2px 5px;
    color: black;
}

.data2{
    background-color: rgb(73,186,230);
    border-radius: 3px;
    padding: 2px 5px;
    color: black;
}

.data3{
    background-color: rgb(231,228,70);
    border-radius: 3px;
    padding: 2px 5px;
    color: black;
}

.data4{
    background-color: rgb(206,82,236);
    border-radius: 3px;
    padding: 2px 5px;
    color: black;
}