.first-container {
    background-image: url('../../assets/fondo.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Asap', sans-serif;     
}
